#slider{
    background-image:url("../images/slider-1.webp");
    height: 800px;
    width: 100%;
}

#description_slider{
    width: 40%;
    padding: 20px;
    margin-top: 10%;
    margin-left: 10%;
}
#image_slider{
    position: absolute;
    right: 1%;
    width: 50%;
}
#scholarship{
    position: absolute;
    top: 100%;
}
#card1{
    background-color:#48a7d4 ;
}
#card2{
    background-color: #fdc735;
}
#card3{
    background-color: #307ad5;
}
#card4{
    background-color:#10c45c ;
}

#about_us{
    padding-left: 5%;
    padding-right:5%;
}